/*body styling adding font*/
* {
    box-sizing: border-box;
}
body {
 font-family: 'JetBrains Mono NL', Arial, monospace;   
}
.banner {
    background-image: url(../images/code-banner.jpg);
    height: 400px;
    background-size: cover;
    justify-content: space-around;
    display: flex;
}

.banner img {
    height: 150px;
    border-radius: 45%;
    width: 150px;
    
}

.banner div {
    width: 100%;
}

h1 {
    text-align: left;
    width: 100%;
    font-size: xx-large;
    color: purple;
    text-align:center;
}

nav {
    display: flex;
    background-color: aquamarine;
    padding: 20px;
    justify-content: end;
}
nav a {
    color: purple;
    padding: 14px 20px;
}

.about-me {
    padding: 30px;
    background-color: azure;
    color: purple;
    border: 10px solid black;
   

}

#seo-refactor {
    width: 75%;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border: 2px solid black;
    background-image: url(../images/Horiseon-Search-Engine-Optimization.png);
    background-size: ;
}

.work {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: none;
}

